* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: black; */
}

/* ----------------------utility-class---------------------------------- */
@keyframes texttransfrom {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);

    }

}

/* ---------------------------p1---------------------------------- */
.page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
}

.page1 .page1-top {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 .page1-top>h2 {
    font-size: 3.8vw;
    color: #ffffff;
    position: relative;
    letter-spacing: 1px;
}

.page1 .page1-top>h2::before {
    content: "THE";
    font-size: 1.3vw;
    position: absolute;
    top: 0.2vw;
    left: 2.9vw;
}

.page1 .page1-bottom {
    width: 100%;
    height: calc(100% - 40%);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.page1 .page1-bottom .page1-bottom-left {
    width: 50%;
    height: 100%;
    border-radius: 70px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2900E8;
}

.page1-bottom-left .page1-bottom-left-rotate {
    position: absolute;
    top: 40%;
    z-index: 99;
    white-space: nowrap;
    /* background-color: red; */
    height: 12vh;

}

.page1-bottom-left:hover .page1-bottom-left-rotate {
    display: none;
}

.page1-bottom-left .page1-bottom-left-rotate>h2 {
    display: inline-block;
    font-size: 5vw;
    color: white;
    animation-name: texttransfrom;
    animation-timing-function: linear;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}

.page1 .page1-bottom .page1-bottom-left:hover {
    scale: 0.98;
}

.page1-bottom-left-left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}

.page1-bottom-left-left>p {
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
}

.page1-bottom-left-left>h4 {
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
}

.page1-bottom-left-right {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 35px 40px;
}

.page1-bottom-left-right #i1 {
    padding: 18px 20px;
    border-radius: 50%;
    font-size: 2vw;
    background-color: white;
}

.page1-bottom-left-right i:nth-last-child(1) {
    color: white;
    font-size: 2vw;
}

.page1 .page1-bottom .page1-bottom-right {
    width: 50%;
    height: 100%;
}

.page1-bottom-right-top {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 5px;
    padding: 1px;
    padding-bottom: 4px;
}

.page1-bottom-right-top-left {
    width: 50%;
    height: 100%;
    border-radius: 70px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 2.5vw;
    overflow: hidden;
    background-color: #FFFFFF;
    transition: 0.3s ease-out;
}

.page1-bottom-right-top-left:hover {
    scale: 0.96;
}

.page1-bottom-right-top-left:hover .page1-bottom-right-top-left-rotate {
    display: block;
}

.page1-bottom-right-top-left:hover p {
    display: none;
}

.page1-bottom-right-top-left:hover i {
    display: none;
}

.page1-bottom-right-top-left-rotate {
    position: absolute;
    top: 40%;
    white-space: nowrap;
    animation-name: texttransfrom;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    display: none;
}

.page1-bottom-right-top-left-rotate>h2 {
    display: inline-block;
    font-size: 3vw;
}

.page1-bottom-right-top-left>p {
    font-weight: 600;
    font-size: 1.3vw;
}

.page1-bottom-right-top-left>i {
    font-size: 1.5vw;
}

.page1-bottom-right-top-right {
    width: 50%;
    height: 100%;
    border-radius: 70px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 3vw;
    transition: 0.3s ease-out;
    background-color: #1B1B1F;
}

.page1-bottom-right-top-right:hover {
    scale: 0.96;
}

.page1-bottom-right-top-right:hover p {
    display: none;
}

.page1-bottom-right-top-right:hover i {
    display: none;
}

.page1-bottom-right-top-right:hover .page1-bottom-right-top-right-rotate {
    display: block;
}

.page1-bottom-right-top-right-rotate {
    position: absolute;
    top: 40%;
    white-space: nowrap;
    animation-name: texttransfrom;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    display: none;
}

.page1-bottom-right-top-right-rotate>h2 {
    color: #FFFFFF;
    display: inline-block;
    font-size: 3vw;
}

.page1-bottom-right-top-right>p {
    color: #FFFFFF;
    font-size: 1.4vw;
}

.page1-bottom-right-top-right>i {
    color: #FFFFFF;
    font-size: 1.5vw;
}

.page1-bottom-right-bottom {
    width: 100%;
    height: 50%;
    border-radius: 70px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2vw;
    padding: 2vw 5vw;
    background-color: #FFF480;
    transition: 0.3s ease-out;
}

.page1-bottom-right-bottom:hover {
    scale: 0.96;
}

.page1-bottom-right-bottom:hover p {
    display: none;
}

.page1-bottom-right-bottom:hover i {
    display: none;
}

.page1-bottom-right-bottom:hover .page1-bottom-right-bottom-rotate {
    display: block;
}

.page1-bottom-right-bottom-rotate {
    position: absolute;
    white-space: nowrap;
    top: 40%;
    animation-name: texttransfrom;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    display: none;
}

.page1-bottom-right-bottom-rotate h2 {
    font-size: 3.5vw;
    display: inline-block;
}

.page1-bottom-right-bottom>p {
    font-weight: 600;
    font-size: 1.3vw;
}

.page1-bottom-right-bottom>i {
    font-size: 1.5vw;
}

.page1-bottom-rotate {
    width: 50%;
    height: 55%;
    position: relative;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.circle {
    width: 6vw;
    height: 6vw;
    background-color: #A5A1FF;
    position: absolute;
    left: 60%;
    top: 2%;
    border-radius: 50%;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition: 0.2s ease-out;
}

.cube {
    width: 5.5vw;
    height: 5.5vw;
    background-color: #A5A1FF;
    position: absolute;
    left: 30%;
    top: 65%;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition: 0.2s ease-out;
}

.tringle {
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 0;
    top: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #A5A1FF;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition: 0.2s ease-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

/* ------------------------------p2-------------------------------- */
.page2 {
    width: 100%;
    height: 80vh;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.page2-text-section {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    background-color: #1B1B1F;
}

.page2-text-section-left {
    width: 75%;
    height: 100%;
    padding-left: 5vw;
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4vw;
}

.page2-text-section-left>p {
    color: #A5A1FF;
    font-size: 1.6vw;
    font-weight: 600;
}

.page2-text-section-left>h1 {
    color: #A5A1FF;
    font-size: 6vw;
    line-height: 7vw;
    font-weight: 500;
}

.page2-text-section>i {
    color: #A5A1FF;
    position: absolute;
    right: 5.5%;
    font-size: 3vw;
    font-weight: 100;
    bottom: 12.5%;
}

#page2-rotate {
    position: absolute;
    bottom: 4%;
    right: 2%;
}

/* ---------------------p3----------------------------------- */
.page3 {
    width: 100%;
    min-height: 162vh;
    padding: 0.5vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vw;
    background-color: black;
}

.page3-elem {
    width: 99.5%;
    height: 40vh;
    position: relative;
}

.page3-elem-left {
    width: 55%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #1B1B1F;
}

.page3-elem-right {
    width: 50%;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    background-color: #A5A1FF;
}
.page3-elem-right>p{
     font-size: 1.3vw;
     font-weight: 600;
}
.page3-elem-right>h2{
     font-size: 4vw;
}
.page3-elem-right>svg{
    margin-top: 1vw;
}