* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

/* ----------------------utility-class---------------------------------- */
@keyframes texttransfrom {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);

    }

}

/* ---------------------------p1---------------------------------- */
.page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
}

.page1 .page1-top {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 .page1-top>h2 {
    font-size: 3.8vw;
    color: #ffffff;
    position: relative;
    letter-spacing: 1px;
}

.page1 .page1-top>h2::before {
    content: "THE";
    font-size: 1.3vw;
    position: absolute;
    top: 0.2vw;
    left: 2.9vw;
}

.page1 .page1-bottom {
    width: 100%;
    height: calc(100% - 40%);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.page1 .page1-bottom .page1-bottom-left {
    width: 50%;
    height: 100%;
    border-radius: 70px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2900E8;
}

.page1-bottom-left .page1-bottom-left-rotate {
    position: absolute;
    top: 40%;
    z-index: 99;
    white-space: nowrap;
    /* background-color: red; */
    height: 12vh;

}

.page1-bottom-left:hover .page1-bottom-left-rotate {
    display: none;
}

.page1-bottom-left .page1-bottom-left-rotate>h2 {
    display: inline-block;
    font-size: 5vw;
    color: white;
    animation-name: texttransfrom;
    animation-timing-function: linear;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}

.page1 .page1-bottom .page1-bottom-left:hover {
    scale: 0.98;
}

.page1-bottom-left-left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}

.page1-bottom-left-left>p {
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
}

.page1-bottom-left-left>h4 {
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
}

.page1-bottom-left-right {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 35px 40px;
}

.page1-bottom-left-right #i1 {
    padding: 18px 20px;
    border-radius: 50%;
    font-size: 2vw;
    background-color: white;
}

.page1-bottom-left-right i:nth-last-child(1) {
    color: white;
    font-size: 2vw;
}

.page1 .page1-bottom .page1-bottom-right {
    width: 50%;
    height: 100%;
}

.page1-bottom-right-top {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 5px;
    padding: 1px;
    padding-bottom: 4px;
}

.page1-bottom-right-top-left {
    width: 50%;
    height: 100%;
    border-radius: 70px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 2.5vw;
    overflow: hidden;
    background-color: #FFFFFF;
    transition: 0.3s ease-out;
}

.page1-bottom-right-top-left:hover {
    scale: 0.96;
}

.page1-bottom-right-top-left:hover .page1-bottom-right-top-left-rotate {
    display: block;
}

.page1-bottom-right-top-left:hover p {
    display: none;
}

.page1-bottom-right-top-left:hover i {
    display: none;
}

.page1-bottom-right-top-left-rotate {
    position: absolute;
    top: 40%;
    white-space: nowrap;
    animation-name: texttransfrom;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    display: none;
}

.page1-bottom-right-top-left-rotate>h2 {
    display: inline-block;
    font-size: 3vw;
}

.page1-bottom-right-top-left>p {
    font-weight: 600;
    font-size: 1.3vw;
}

.page1-bottom-right-top-left>i {
    font-size: 1.5vw;
}

.page1-bottom-right-top-right {
    width: 50%;
    height: 100%;
    border-radius: 70px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 3vw;
    transition: 0.3s ease-out;
    background-color: #1B1B1F;
}

.page1-bottom-right-top-right:hover {
    scale: 0.96;
}

.page1-bottom-right-top-right:hover p {
    display: none;
}

.page1-bottom-right-top-right:hover i {
    display: none;
}

.page1-bottom-right-top-right:hover .page1-bottom-right-top-right-rotate {
    display: block;
}

.page1-bottom-right-top-right-rotate {
    position: absolute;
    top: 40%;
    white-space: nowrap;
    animation-name: texttransfrom;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    display: none;
}

.page1-bottom-right-top-right-rotate>h2 {
    color: #FFFFFF;
    display: inline-block;
    font-size: 3vw;
}

.page1-bottom-right-top-right>p {
    color: #FFFFFF;
    font-size: 1.4vw;
}

.page1-bottom-right-top-right>i {
    color: #FFFFFF;
    font-size: 1.5vw;
}

.page1-bottom-right-bottom {
    width: 100%;
    height: 50%;
    border-radius: 70px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2vw;
    padding: 2vw 5vw;
    background-color: #FFF480;
    transition: 0.3s ease-out;
}

.page1-bottom-right-bottom:hover {
    scale: 0.96;
}

.page1-bottom-right-bottom:hover p {
    display: none;
}

.page1-bottom-right-bottom:hover i {
    display: none;
}

.page1-bottom-right-bottom:hover .page1-bottom-right-bottom-rotate {
    display: block;
}

.page1-bottom-right-bottom-rotate {
    position: absolute;
    white-space: nowrap;
    top: 40%;
    animation-name: texttransfrom;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    display: none;
}

.page1-bottom-right-bottom-rotate h2 {
    font-size: 3.5vw;
    display: inline-block;
}

.page1-bottom-right-bottom>p {
    font-weight: 600;
    font-size: 1.3vw;
}

.page1-bottom-right-bottom>i {
    font-size: 1.5vw;
}

.page1-bottom-rotate {
    width: 50%;
    height: 55%;
    position: relative;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.circle {
    width: 6vw;
    height: 6vw;
    background-color: #A5A1FF;
    position: absolute;
    left: 60%;
    top: 2%;
    border-radius: 50%;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition: 0.2s ease-out;
}

.cube {
    width: 5.5vw;
    height: 5.5vw;
    background-color: #A5A1FF;
    position: absolute;
    left: 30%;
    top: 65%;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition: 0.2s ease-out;
}

.tringle {
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 0;
    top: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #A5A1FF;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transition: 0.2s ease-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

/* ------------------------------p2-------------------------------- */
.page2 {
    width: 100%;
    height: 80vh;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.page2-text-section {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    background-color: #1B1B1F;
}

.page2-text-section-left {
    width: 75%;
    height: 100%;
    padding-left: 5vw;
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4vw;
}

.page2-text-section-left>p {
    color: #A5A1FF;
    font-size: 1.6vw;
    font-weight: 600;
}

.page2-text-section-left>h1 {
    color: #A5A1FF;
    font-size: 6vw;
    line-height: 7vw;
    font-weight: 500;
}

.page2-text-section>i {
    color: #A5A1FF;
    position: absolute;
    right: 5.5%;
    font-size: 3vw;
    font-weight: 100;
    bottom: 12.5%;
}

#page2-rotate {
    position: absolute;
    bottom: 4%;
    right: 2%;
}

/* ---------------------p3----------------------------------- */
.page3 {
    width: 100%;
    min-height: 162vh;
    padding: 0.5vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vw;
    background-color: black;
}

.page3-elem {
    width: 99.5%;
    height: 40vh;
    position: relative;
}

.page3-elem-left {
    width: 55%;
    height: 100%;
    position: absolute;
    left: 50%;
    overflow: hidden;
    display: flex;
    transform: translateX(-50%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #1B1B1F;
}

.page3-elem-left-left {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3-elem-left-left>i {
    color: #A5A1FF;
    font-size: 2.5vw;
}

.page3-elem-left-right {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
}

.page3-elem-left-right>h4 {
    font-weight: 600;
    font-size: 1.6vw;
    color: #A5A1FF;
}

.page3-elem-left-right>p {
    font-weight: 600;
    font-size: 1.3vw;
    line-height: 2vw;
    color: #A5A1FF;
}

.page3-elem-right {
    width: 50%;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    background-color: #A5A1FF;
}

.page3-elem-right>p {
    font-size: 1.3vw;
    font-weight: 600;
}

.page3-elem-right>h2 {
    font-size: 4vw;
}

.page3-elem-right>svg {
    margin-top: 1vw;
}

/* ---------------------page4------------------------------------ */
.page4 {
    width: 100%;
    min-height: 146vh;
    padding: 0 0.1vw;
    background-color: black;
}

.page4-top {
    width: 100%;
    height: 60vh;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    background-color: #FFFFFF;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.page4-top:hover {
    scale: 0.97;
}

.page4-top-left {
    width: 33.3%;
    height: 100%;
    padding: 3vw 3.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page4-top-left>p {
    font-weight: 700;
    font-size: 1.3vw;
}

.page4-top-center {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page4-top-center>img {
    width: 55%;
}

.page4-top-right {
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 3vw 3.5vw;
}

.page4-top-right>p {
    font-weight: 700;
    font-size: 1.3vw;
}

.page4-top-right>i {
    font-weight: 400;
    font-size: 1.8vw;
}

.page4-center {
    width: 100%;
    height: 42vh;
    margin-top: 0.5vw;
    display: flex;
    padding: 0 0.1vw;
    justify-content: space-between;
}

.page4-center-left {
    width: 49.8%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    background-color: #CBE5FF;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.page4-center-left:hover {
    scale: 0.97;
}

.page4-center-left-left {
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 3.5vw;
}

.page4-center-left-left>p {
    font-weight: 600;
    font-size: 1.4vw;
    white-space: nowrap;
}

.page4-center-left-center {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page4-center-left-center>img {
    width: 110%;
}

.page4-center-left-right {
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 3vw 3.5vw;
}

.page4-center-left-right>p {
    font-weight: 600;
    font-size: 1.4vw;
}

.page4-center-left-right>i {
    font-weight: 400;
    font-size: 1.8vw;
}

.page4-center-right {
    width: 49.8%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    background-color: #021F23;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.page4-center-right:hover {
    scale: 0.97;
}

.page4-center-right-left {
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 3.5vw;
}

.page4-center-right-left>p {
    font-size: 1.4vw;
    font-weight: 600;
    color: #A5A1FF;
    white-space: nowrap;
}

.page4-center-right-center {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page4-center-right-center>img {
    width: 55%;
}

.page4-center-right-right {
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 3vw 3.5vw;
}

.page4-center-right-right>p {
    font-weight: 600;
    font-size: 1.4vw;
    color: #A5A1FF;
}

.page4-center-right-right>i {
    font-weight: 400;
    font-size: 1.8vw;
    color: #A5A1FF;
}

.page4-bottom {
    width: 100%;
    height: 42vh;
    margin-top: 0.5vw;
    padding: 0 0.1vw;
    display: flex;
    justify-content: space-between;
}

.page4-bottom-left {
    width: 49.8%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    background-color: #D0FF94;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.page4-bottom-left:hover {
    scale: 0.97;
}

.page4-bottom-left-left {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 3.5vw;
}

.page4-bottom-left-left>p {
    font-weight: 600;
    font-size: 1.4vw;
    white-space: nowrap;
}

.page4-bottom-left-center {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page4-bottom-left-center>img {
    width: 110%;
}

.page4-bottom-left-right {
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 3vw 3.5vw;
}

.page4-bottom-left-right>p {
    font-weight: 600;
    font-size: 1.4vw;
}

.page4-bottom-left-right>i {
    font-weight: 400;
    font-size: 1.8vw;
}

.page4-bottom-right {
    width: 49.8%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    background-color: #290038;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.page4-bottom-right:hover {
    scale: 0.97;
}

.page4-bottom-right-left {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 3.5vw;
}

.page4-bottom-right-left>p {
    font-weight: 600;
    font-size: 1.4vw;
    white-space: nowrap;
    color: #A5A1FF;
}

.page4-bottom-right-center {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page4-bottom-right-center>img {
    width: 110%;
}

.page4-bottom-right-right {
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 3vw 3.5vw;
}

.page4-bottom-right-right>p {
    font-weight: 600;
    font-size: 1.4vw;
    color: #A5A1FF;
}

.page4-bottom-right-right>i {
    font-weight: 400;
    font-size: 1.8vw;
    color: #A5A1FF;
}

/* ---------------------page5-------------------------------- */
.page5 {
    width: 100%;
    min-height: 150vh;
    padding: 0.5vw 0;
    background-color: black;
}

.page5-main-section {
    background-color: #1F1A1C;
    width: 100%;
    height: 150vh;
    overflow: hidden;
    border-radius: 50px;
}

.page5-main-section-scroller {
    width: 100%;
    height: 50vh;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page5-main-section-scroller>h1 {
    display: inline-block;
    font-size: 12vw;
    color: #FFAED8;
    font-weight: 500;
    animation-name: texttransfrom;
    animation-timing-function: linear;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}

.page5-main-section-text {
    width: 55%;
    height: 30vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.page5-main-section-text>p {
    font-weight: 700;
    color: #FFAED8;
    font-size: 2vw;
    line-height: 3vw;
}

.page5-main-section-circle {
    width: 150%;
    height: 66vh;
    rotate: -25deg;
    margin-top: 2vw;
}

.page5-main-section-circle-top {
    width: 100%;
    height: 50%;
    white-space: nowrap;
}

.page5-main-section-circle-bottom {
    width: 100%;
    height: 50%;
    margin-top: 1vw;
    white-space: nowrap;
}

.page5-circle {
    width: 10.5%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
    transform: translateX(-250%);
    border: 3px solid #FFAED8;
    margin-left: 0.5vw;
    overflow: hidden;
}

.page5-circle>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------page6----------------------------- */
.page6 {
    width: 100%;
    min-height: 121vh;
    padding: 0.5vw 0.2vw;
    background-color: black;
}

.page6-main-section {
    width: 99.9%;
    height: 120vh;
    border-radius: 50px;
    overflow: hidden;
    background-color: #1D1C16;
}

.page6-top {
    width: 100%;
    height: 80vh;
    padding: 3vw 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.page6-top>p {
    font-weight: 700;
    color: #D4C951;
    font-size: 1.3vw;
}

.page6-top>h1 {
    font-size: 6vw;
    color: #D4C951;
    line-height: 7vw;
    font-weight: 500;
}

.page6-bottom {
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
}

.page6-bottom-left {
    width: 60%;
    height: 100%;
}

.page6-bottom-left-top {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.email {
    width: 45%;
    height: 40%;
    border-radius: 50px;
    color: #D4C951;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 2px solid #D4C951;
}

.email::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: -100%;
    height: 0%;
    border-radius: 100%;
    background-color: #D4C951;
    transition: 0.3s ease-out;
}

.email:hover::after {
    height: 295%;
}

.email h2 {
    font-size: 1.9vw;
    font-weight: 600;
    transition: 0.2s ease-in;
}

.email #last-h2 {
    display: none;
    position: relative;
    z-index: 9;
    transition: all 0.2s ease-in;
    color: #1B1B1F;
}

.email:hover #last-h2 {
    display: block;
    color: #1B1B1F;
    transform: translateY(-20px);
}

.email:hover #first-h2 {
    transform: translateY(-50px);
}

.number {
    width: 38%;
    height: 40%;
    border-radius: 50px;
    color: #D4C951;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 2px solid #D4C951;
}

.number::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 0%;
    top: -100%;
    transition: 0.3s ease-out;
    border-radius: 100%;
    background-color: #D4C951;
}

.number:hover::after {
    height: 300%;
}

.number>h3 {
    font-size: 1.8vw;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.3s ease-in;
}

.number #last-h3 {
    display: none;
    color: #1D1C16;
    position: relative;
    z-index: 9;
    transition: 0.3s ease-out;
}

.number:hover #last-h3 {
    display: block;
    transform: translateY(-18px);
}

.number:hover #first-h3 {
    transform: translateY(-50px);
}

.page6-bottom-left-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1vw;
}

.page6-bottom-elem {
    width: 25%;
    height: 40%;
    border: 2px solid #D4C951;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.page6-bottom-elem>i {
    color: #D4C951;
    font-size: 1.8vw;
}

.page6-bottom-right {
    width: 40%;
    height: 100%;
    position: relative;
}

#page6-svg {
    position: absolute;
    right: 5%;
    bottom: 8%;
}

#page6-i {
    position: absolute;
    color: #D4C951;
    right: 14.5%;
    bottom: 25%;
    font-size: 2.5vw;
    font-weight: 100;
}

/* ------------------------page7--------------------------------- */
.page7 {
    width: 100%;
    height: 90vh;
    background-color: black;
}

.page7-top {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page7-top-left {
    width: 76%;
    height: 100%;
}

.page7-top-left-top {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;
}

.page7-top-left-top>input {
    width: 32%;
    height: 80%;
    padding: 0 2vw;
    background-color: #1D1C16;
    border-radius: 50px;
    border: none;
}

.page7-top-left-top>::placeholder {
    color: #D4C951;
    font-size: 1.2vw;
}

.page7-top-left-bottom {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page7-top-left-bottom>input {
    width: 99%;
    height: 99%;
    position: relative;
    background-color: #1D1C16;
    border-radius: 50px;
    border: none;
}

.page7-top-left-bottom>::placeholder {
    color: #D4C951;
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 1.2vw;
}

.page7-top-right {
    width: 23%;
    height: 96%;
    margin-left: 0.2vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF480;
}

.page7-top-right>i {
    font-size: 2.5vw;
    color: #1D1C16;
}

.page7-bottom{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page7-bottom>p{
     font-size: 1.5vw;
     color: white;
}